<header id="header">
	<nav class="navbar-mobile">
		<i class="fa-solid fa-bars fa-xl" id="burger-menu"></i>
		<a href="/"><img src="{{ asset('imgs/logo_mobile.webp')}}" alt="logo mobile" draggable="false"></a>
		<div class="icons-container">
			<i class="fa-solid fa-magnifying-glass fa-xl"></i>
			<i class="fa-solid fa-user fa-xl"></i>
		</div>
	</nav>
	<nav class="navbar-desktop">
		<a href="{{ path('home') }}"><img src="{{ asset('imgs/logo_desktop.webp')}}" alt="logo desktop" draggable="false"></a>
		<ul class="menu-desktop-container">
			<li>
				<a href="{{ path('home') }}" data-url="{{ path('home') }}" id="url-home">home</a>
			</li>
			<li>
				<a href="" data-url="" id="url-createdThread">created thread</a>
			</li>
		</ul>
		<div class="icons-container">
			<i class="fa-solid fa-magnifying-glass fa-xl"></i>
			<i class="fa-solid fa-user fa-xl"></i>
		</div>
	</nav>
	<div class="profil-container" id="profil-container">
		<ul>
			<li>
				<a href="{{ path('app_login') }}">login</a>
			</li>
			{# <li><ahref="{{ path('profil') }}">profil</a></li> #}
			<li>
				<a href="{{ path('app_logout') }}">logout</a>
			</li>

		</ul>
	</div>
</header>
