<header id="header">
	<nav class="navbar-mobile">
		<i class="fa-solid fa-bars fa-xl" id="burger-menu"></i>
		<a href="/"><img src="{{ asset('imgs/logo_mobile.webp')}}" alt="logo mobile" draggable="false"></a>
		<div class="icons-container">
			<i class="fa-solid fa-magnifying-glass fa-xl" id="search"></i>
			<i class="fa-solid fa-user fa-xl">
				<a href=""></a>
			</i>
		</div>
	</nav>
	<nav class="navbar-desktop">
		<a href="{{ path('home') }}"><img src="{{ asset('imgs/logo_desktop.webp')}}" alt="logo desktop" draggable="false"></a>
		<ul class="menu-mobile-container">
			<li>
				<a href="{{ path('home') }}" data-url="{{ path('home') }}" id="url-home">home</a>
			</li>
			<li>
				<a href="" data-url="" id="url-createdThread">created thread</a>
			</li>
		</ul>
		<i class="fa-solid fa-user fa-2xl">
			<a href=""></a>
		</i>
	</nav>
</header>
