{{ form_errors(form) }}

{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.description) }}
{{ form_row(form.body) }}
{{ form_row(form.categories) }}

<button type="submit" class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
