{% extends 'base.html.twig' %}

{% block title %}Thread Detail
{% endblock %}
{% block javascript %}
	{% block importmap %}
		{{ parent() }}
		{{ encore_entry_script_tags('vote') }}
	{% endblock %}
{% endblock %}

{% block main %}
	<main>
		<div class="thread-detail-container">
			<div class="thread-detail-card">
				<h3>{{ thread.title }}</h3>
				<a href="{{ path('profil', {username: username}) }}">
					<p>
						<span>author :
						</span>
						{{ username }}
					</p>
				</a>
				{% if thread.status == 'Open' %}
					<p style="color: #58b201">
					{% elseif thread.status == 'Close' %}
						<p style="color: #f66031">
						{% else %}
							<p style="color: #e4606b">
							{% endif %}
							{{ thread.status }}
						</p>
						<p>
							<span>categories :
							</span>
							{{ categories|join(',', 'and') }}
						</p>
						<p>
							<span>sujet :
							</span>
							{{ thread.body }}
						</p>
						<p>
							<span>created at :
							</span>
							{{ thread.createdAt|date('H:i d/m/Y') }}
						</p>
						<p>
							<span>updated at :
							</span>
							{{ thread.updatedAt|date('H:i d/m/Y') }}
						</p>
						<div class="actions-container">
							<ul>
								{% if app.user %}
									<li>
										<button type="button" id="btn-reply">reply</button>
									</li>
								{% endif %}
								{% if app.user.id == userId_thread %}
									<li>
										<a href="{{path('thread_edit',{id:thread.id})}}">edit</a>
									</li>
								{% endif %}

							</ul>
						</div>
					</div>
					<div class="thread-responses-container">
						<h3>responses :
						</h3>
						<div class="thread-response-card">
							{% for response in responses %}
								<a href="{{ path('profil', {username: (response.users).username}) }}">
									<span>author :
									</span>
									{{ (response.users).username }}</a>
								<div class="votes-container">
									<i class="fa-regular fa-heart fa-xl" id="btn-vote" data-id="{{ response.id }}"></i>
									{% for vote in votes %}
										<span>{{ vote }}</span>
									{% endfor %}
								</div>
								<h4>reponse :
								</h4>
								<p>{{ response.body }}</p>
							{% endfor %}
							<div class="actions-response-container">
								<ul>
									<li><a href="">edit</a></li>
									<li><a href="">delete</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</main>
		{% endblock %}
